@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

.container {
    display: flex;
    margin: 0 auto;
    max-width: 1222px;
    justify-content: center;
}