.header {
    width: 100%;
}

.container {
    display: flex;
    max-width: 1222px;
    padding: 0 15px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}