.numberContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    padding: 5px;
    margin-left: 12px;
    margin-top: -8px;
    border-radius: 25px;
    transition: background-color 0.10s;
}

.numberContainer:hover {
    cursor: pointer;
    background-color: rgba(241, 241, 241, 0.25);;
}

.numberLabel {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #1D1F22;
    width: 18px;
    height: 18px;
    border-radius: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 10pt;
}

.numberLabel {
    cursor: pointer;
}